@import url('./global.css');

@font-face {
    font-family: 'Gilroy';
    src: url('Caminho/Gilroy.ttf') format('ttf');         
}

body {
    font-family: 'Gilroy', sans-serif; 
}





header{
    display: flex;
    gap: 258.27px;
    width: 1441px   ;
}

.logoCima{
    padding: 49px 100px;
}

.navegation-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-top: 56px;
    width: 358px;
}

.Home{
    color: var(--color-primary);
}


.navegation-header a{
    color: black;
    text-decoration: none;
}


.botoes-Header{
    display: flex;
    gap: 16px;
    width: 224px;
    margin-top: 40px;
    margin-right: 100px;
}


.botoes-Header img{
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-top: 8px;
}



.btnHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 51px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}

.btnHeader button{
    color: var(--color-primary);
    background-color: white;
    font-size: 16px;
}

/* ______________________________________________________________________________________*/


.WeDeliver{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.WeDeliver img{
    width: 651px;
    height: 494px;
}

h1{
    margin-top: 51.5px;
}