@import url('./global.css');

@font-face {
    font-family: 'Gilroy';
    src: url('Caminho/Gilroy.ttf') format('ttf');         
}

body {
    font-family: 'Gilroy', sans-serif; 
}





header{
    display: flex;
    gap: 258.27px;
    width: 1441px   ;
}

.logoCima{
    padding: 49px 100px;
}

.navegation-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
    margin-top: 56px;
    width: 358px;
}

.Home{
    color: var(--color-primary);
}


.navegation-header a{
    color: black;
    text-decoration: none;
}


.botoes-Header{
    display: flex;
    gap: 16px;
    width: 224px;
    margin-top: 40px;
    margin-right: 100px;
}


.botoes-Header img{
    width: 24px;
    height: 24px;
    padding: 8px;
    margin-top: 8px;
}



.btnHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 51px;
    border: 1px solid var(--color-primary);
    border-radius: 10px;
}

.btnHeader button{
    color: var(--color-primary);
    background-color: white;
    font-size: 16px;
}

/* ______________________________________________________________________________________*/
/* ______________________________________________________________________________________*/


.WeDeliver{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 82px;
    gap: 124px;
}

.WeDeliver img{
    width: 651px;
    height: 494px;
}

h1{
    margin-top: 51.5px;
    width: 563px;
    font-size: 60px;
}

h1 a{
    color: var(--color-primary);
}

p{
    margin-top: 32px;
    width: 503px;
    font-size: 18px;
    font-family: 'Gilroy';
    letter-spacing: 1.6px;
}
.doisbotoes-Main{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.btnum{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 51px;
    border-radius: 10px;
    background-color: var(--color-primary);
    text-decoration: none;
    
    
}

.btnum button{
    font-size: 16px;
    color: white;
    background-color: var(--color-primary);
    text-decoration: none;
}



.btndois{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 51px;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    border: 1px solid var(--color-primary);
}

.btndois button{
    font-size: 16px;
    color: var(--color-primary);
    background-color: white;
    text-decoration: none;
}

/* ______________________________________________________________________________________*/
/* ______________________________________________________________________________________*/


.WhyChooseUs{
    background-color: #FAFAFA;  
}
.Why-texts{
    text-align: center;
    padding: 100px 391px 0 391px;
    width: 657px;
}

.Why-texts h2{
    font-size: 48px;
} 

.Why-texts p{
    width: 657px;
    margin-top: 7px;
    font-size: 18px;
}


.Why-cards{ 
    padding: 100px;
    width: 1240px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.cards-content{
    text-align: center;
}

.cards-content1{
    font-size: 28px;
    margin-top: 40px;
    width: 400px;
}

.cards-content h3{
    align-items: center;
    text-align: center;

}

.cards-content p{
    padding: 62.5px ;
    margin-bottom: 0;
    width: 275px;
    font-size: 18px;
}

.cards-content2{
    height: 58px;
}

.cards-content h4{
    font-size: 48px;
    margin-bottom: -80px;
}

.Why-cards img{
    width: 216px;
    height: 216px;
}

/* ______________________________________________________________________________________*/
/* ______________________________________________________________________________________*/

.special-dishes{
    margin: 30px;
    padding: 0px 478.5px;
    text-align: center;
    width: 483px;
    margin-top: 100px;
    color: black;
}


.special-container{
    width: 1240px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    margin-left: 100px;
}
.special-cards{
    padding: 0 40px;
    width: 400px;
    text-align: center;
}

.special-cards h3{
    margin-top: 8px;
}

.special-cards p{
    display: flex;
    width: 319px;
    margin-top: 8px;
    font-size: 18px;

}

.special-cards img{
    width: 216px;
    height: 216px;

}

.btnBuy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 352px;
    height: 53px;
    border-radius: 10px;
    background-color: var(--color-primary);
    text-decoration: none;
    
    
}

.btnBuy button{
    font-size: 16px;
    color: white;
    background-color: var(--color-primary);
    text-decoration: none;
}